@CHARSET "UTF-8";

* {
	font-family: 'Microsoft Yahei';
}

.index-logo {
	display: inline-block;
	width: 302px;
	height: 190px;
	margin-left: 20px;
	padding: 1px;
	border: 1px solid rgba(0,0,0,0);
	margin-top: 5px;
	margin-bottom: 5px;
}

.index-logo:hover {
	border: 1px solid;
}

.logo-link {
}

.welcome {
	background: url("static/welcome.png");
	display: inline-block;
	float: right;
	width: 600px;
	height: 190px;
	margin-right:20px;
	margin: 5px;
}

.top-notice {
	display: inline-block;
	width: 100%;
	height: 15px;
	background: #88f;
	font-size: 11px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
}

.navigator {
	display: inline-block;
	width: 100%;
	height: 60px;
	background: #44f;
	font-size: 20px;
	color: #fff;
	transition: background 0.2s linear;
}

.navigator:hover {
	background: #f66;
}

.navigator-list {
	width: 60rem;
	padding-left: 30px;
	overflow: hidden;
	white-space:nowrap;
}

.navigator-list>li {
	list-style: none;
	float: left; 
	margin-left: 15px;
	width: 130px;
	margin-top: 0px;
	text-align: center;
}

.navigator-list>li>a {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s linear, text-decoration 0.2s linear;
}

.navigator-list>li>a:hover {
	color: #00f;
}

.navigator-list>li>a:active {
	opacity: 0.7;
}

.navigator>div {
	display: inline-block;
	float: right; 
	transform: translate(-1rem,-3rem);
}

.searchbox {
	border: 1px solid #44f;
	transition: border 0.2s linear;
	outline:none;
}

.searchbox:hover {
	border: 1px solid #f00;
}

.searchbox:focus {
	border: 1px solid #f00;
}

.searchbutton {
	border: 0px solid;
	transition: background 0.2s linear;
	background: #f00;
	color: #Fff;
}

.searchbutton:hover,.searchbutton:focus {
	background: #00f;
}